h1.cabecalho{
    text-align: center;
    padding: 50px;
    background-color: cornflowerblue;
}
div.h1{
    text-align: center;
    padding: 50px;
    background-color: cornflowerblue;
}
a.a1{
    padding-left: 10px;
    border-radius: 10px;
}
a.e{
    padding-top: 100px;
}
a.c{
    padding-top: 100px;
}
h2.h2{
    padding: 50px;
    background-color: cornflowerblue;
}


